<% layout('layouts/boilerplate')%>
<body>
    <h1>Student List</h1>
    <div>
        <a href="/addstudent">Add New Student</a>
    </div>
    <ul>
        <% for(let record of students){%>
            <div class = "card" mb-3>
                <div class="col-md-8">
                    <div class = "card-body">
                        <h5 class = "card-title">
                            <a href="/student/<%=record._id%>"><%=record.name%></a>
                        </h5>
                        <p>Total Hours : <%=record.totalhours%></p>
                        <form action="/<%=record._id%>?_method=DELETE" method = "POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <%}%>
    </ul>
</body>